<div class="top animate">
    <span ng-click="showAddForm()"class="add link">+</span>
    <a href="#/stylisci" class="scisors"><img src="public/img/scisors.png" alt="" /></a>
    <img src="public/img/home.png" alt="" ng-click="clearAll()" class="home link" />

    <input type="text" ng-model="query" placeholder="wpisz szukaną frazę"/>
    <img src="public/img/search.png" alt="" />

</div>
<table class="clients">
    <tr class="head">
        <td ng-click="order('imie')" class="link">Imię</span></td>
        <td ng-click="order('nazwisko')" class="link">Nazwisko</td>
        <td>Telefon</td>
        <td>Mail</td>
        <td>Adnotacje</td>
        <td>✐</td>
        <td class="red">✗</td>
    </tr>
    <tr class="add" style="display:none;">
            <td><input type="text" ng-model="newClient.imie" placeholder="Imię" /></td>
            <td><input type="text" ng-model="newClient.nazwisko" placeholder="Nazwisko" /></td>
            <td><input type="text" ng-model="newClient.telefon" placeholder="Telefon" /></td>
            <td><input type="text" ng-model="newClient.mail" placeholder="Mail" /></td>
        <td><input type="text" ng-model="newClient.adnotacje" placeholder="Adnotacje" /></td>
        <td><a ng-click="addClient()">✔</a></td>
        <td></td><td></td>
    </tr>
    <tr ng-repeat="client in clients | filter:query | orderBy:predicate:reverse" class="row">
        <td><a href="#/klient/{{client.id}}">{{client.imie}}</a></td>
        <td><a href="#/klient/{{client.id}}">{{client.nazwisko}}</a></td>
        <td>
            <a ng-click="showPhone(client.id)" class="link">☎</a>
            <!--<span class="phone edit{{client.id}}">{{client.tel}}</span>-->
            <!--<div class="phone form{{client.id}}" style="display:none;">-->
                <!--<input type="text" placeholder="{{client.tel}}" ng-model="edit.tel" />-->
            <!--</div>-->
        </td>
        <td>
            <span class="mail edit{{client.id}}">{{client.mail}}</span>
            <div class="mail form{{client.id}}" style="display:none;">
                <input type="text" placeholder="{{client.mail}}" ng-model="edit.mail" />
            </div>
        </td>
        <td>
            <span class="adnotacje edit{{client.id}}">{{client.adnotacje}}</span>
            <div class="adnotacje form{{client.id}}" style="display:none;">
                <input type="text" placeholder="{{client.adnotacje}}" ng-model="edit.adnotacje" />
            </div>
        </td>
        <td>
            <a ng-click="editClient(client.id)" class="edit{{client.id}}">✐</a>
            <a ng-click="editClientSubmit(client.id)" style="display:none;" class="editClientSubmit form{{client.id}}">✔</a>
        </td>
        <td class="red"><a ng-click="deleteClient(client.id)" >✗</a></td>
    </tr>
</table>