<section class="client">
    <header>
        <h1>{{user.imie}} {{user.nazwisko}}</h1>
        <a ng-click="showPhone(user.id)" class="link">☎</a><br/>
        {{user.adnotacje}}<br/>
        <div class="addvisit link" ng-click="showVisitForm()">+ dodaj</div>
    </header>
    <div ng-repeat="visit in visits" class="visit" >
        <span style="font-weight:bold;">{{visit.data}}</span><br/>
        <div class="stylista small">{{visit.stylista_id}}</div>
        {{visit.cena}} <span class="small red">PLN</span>
    </div>

</section>
<section class="visits">
    <section class="full-visit new-visit animate" ng-if="add">
        <header>
                <input type="text" ng-model="newVisit.date" class="date" placeholder="RRRR-MM-DD"/>
                <select class="stylist" ng-model="newVisit.stylistid" >
                    <option value="" class="placeholder"><span class="placeholder">Wybierz stylistę</span></option>
                    <option ng-repeat="stylist in stylists" value="{{stylist.id}}">{{stylist.nazwa}}</option>
                </select>
                <input type="text" ng-model="newVisit.price" class="price" placeholder="Cena" /> <span class="red bold">PLN</span>
                <a ng-click="addVisit()" class="link confirm">✔</a>

        </header>
        <section class="visit-info">
            <div class="kk">
                <h2>1. KONSULTACJA KOLORYSTYCZNA</h2>
                naturalny kolor włosów: <input type="text" ng-model="newVisit.kk_nkw">{{visit.kk_nkw}}<br>
                struktura i kondycja włosów: <input type="text" ng-model="newVisit.kk_sikw">{{visit.kk_sikw}}<br>
                udział siwizny % <input type="text" ng-model="newVisit.kk_us">{{visit.kk_us}}<br>
                tekstura włosów <input type="text" ng-model="newVisit.kk_tw">{{visit.kk_tw}}<br>
                aktualny kolor na długości i końcach <input type="text" ng-model="newVisit.kk_akndik">{{visit.kk_akndik}}<br>
                żądany efekt <input type="text" ng-model="newVisit.kk_ze">{{visit.kk_ze}}<br>
            </div>
            <div class="ppk">
                <h2>2. PRZYGOTOWANIE PRZED KOLORYZACJĄ</h2>
                szampon <input type="text" ng-model="newVisit.ppk_s">{{visit.ppk_s}}<br>
                wyrównanie struktury <input type="text" ng-model="newVisit.ppk_ws">{{visit.ppk_ws}}<br>
                <span class="bold title">pre-pigmentacja</span><br>
                receptura <input type="text" ng-model="newVisit.ppk_ppr">{{visit.ppk_ppr}}<br>
                <span class="bold title">usunięcie koloru</span><br>
                receptura <input type="text" ng-model="newVisit.ppk_ukr">{{visit.ppk_ukr}}<br>
            </div>
            <div class="uk">
                <h2>3. USŁUGA KOLORYZACJI</h2>
                <span class="bold title">&nbsp;receptura</span><br>
                odrost/kolor bazowy <input type="text" ng-model="newVisit.uk_rokb">{{visit.uk_rokb}}<br>
                długość i końce <input type="text" ng-model="newVisit.uk_dik">{{visit.uk_dik}}<br>
                <span class="bold title">&nbsp;technika pracy</span><br>
                receptura 1 <input type="text" ng-model="newVisit.uk_tpr1">{{visit.uk_tpr1}}<br>
                receptura 2 <input type="text" ng-model="newVisit.uk_tpr2">{{visit.uk_tpr2}}<br>
                receptura 3 <input type="text" ng-model="newVisit.uk_tpr3">{{visit.uk_tpr3}}<br>
                czas działania <input type="text" ng-model="newVisit.uk_tpcd">{{visit.uk_tpcd}}
            </div>
            <div class="uupk">
                <h2>4. USŁUGI UZUPEŁNIAJĄCE PO KOLORYZACJI</h2>
                szampon <input type="text" ng-model="newVisit.uupk_s">{{visit.uupk_s}}<br>
                odżywka <input type="text" ng-model="newVisit.uupk_o">{{visit.uupk_o}}<br>
                <span class="bold title">stylizacja</span><br>
                podstawa <input type="text" ng-model="newVisit.uupk_sp">{{visit.uupk_sp}}<br>
                nadanie formy <input type="text" ng-model="newVisit.uupk_snf">{{visit.uupk_snf}}<br>
                utrwalenie <input type="text" ng-model="newVisit.uupk_su">{{visit.uupk_su}}<br>
            </div>
            <div class="pkwd">
                <h2>5. PIELĘGNACJA KOLORU W DOMU</h2>
                szampon <input type="text" ng-model="newVisit.pkwd_sz">{{visit.pkwd_sz}}<br>
                odżywka <input type="text" ng-model="newVisit.pkwd_o">{{visit.pkwd_o}}<br>
                stylizacja <input type="text" ng-model="newVisit.pkwd_st">{{visit.pkwd_st}}<br>
                specjalne wskazówki <input type="text" ng-model="newVisit.pkwd_sw">{{visit.pkwd_sw}}
            </div>
        </section>

    </section>

    //  TODO: Wyświetlanie sekcji tylko w wypadku jeżeli którekolwiek pole jest wypełnione
    // @todo: do zrobienia

    <section class="full-visit" ng-repeat="visit in visits">
        <header>
            <h1>{{visit.data}}</h1>
            <span class="stylist">{{visit.stylista_id}}</span>
            <span class="price">{{visit.cena}} PLN</span>
            <span class="delete red link" ng-click="deleteVisit(visit.id)">✗</span>
        </header>
        <section class="visit-info">
            <div class="kk">
                <h2>1. KONSULTACJA KOLORYSTYCZNA</h2>
                naturalny kolor włosów: <span class="red bold">{{visit.kk_nkw}}</span><br>
                struktura i kondycja włosów: <span class="red bold">{{visit.kk_sikw}}</span><br>
                udział siwizny % <span class="red bold">{{visit.kk_us}}</span><br>
                tekstura włosów <span class="red bold">{{visit.kk_tw}}</span><br>
                aktualny kolor na długości i końcach <span class="red bold">{{visit.kk_akndik}}</span><br>
                żądany efekt <span class="red bold">{{visit.kk_ze}}</span><br>
            </div>
            <div class="ppk">
                <h2>2. PRZYGOTOWANIE PRZED KOLORYZACJĄ</h2>
                szampon <span class="red bold">{{visit.ppk_s}}</span><br>
                wyrównanie struktury <span class="red bold">{{visit.ppk_ws}}</span><br>
                <span class="bold title">pre-pigmentacja</span><br>
                receptura <span class="red bold">{{visit.ppk_ppr}}</span><br>
                <span class="bold title">usunięcie koloru</span><br>
                receptura <span class="red bold">{{visit.ppk_ukr}}</span><br>
            </div>
            <div class="uk">
                <h2>3. USŁUGA KOLORYZACJI</h2>
                <span class="bold title">&nbsp;receptura</span><br>
                odrost/kolor bazowy <span class="red bold">{{visit.uk_rokb}}</span><br>
                długość i końce <span class="red bold">{{visit.uk_dik}}</span><br>
                <span class="bold title">&nbsp;technika pracy</span><br>
                receptura 1 <span class="red bold">{{visit.uk_tpr1}}</span><br>
                receptura 2 <span class="red bold">{{visit.uk_tpr2}}</span><br>
                receptura 3 <span class="red bold">{{visit.uk_tpr3}}</span><br>
                czas działania <span class="red bold">{{visit.uk_tpcd}}</span>
            </div>
            <div class="uupk">
                <h2>4. USŁUGI UZUPEŁNIAJĄCE PO KOLORYZACJI</h2>
                szampon <span class="red bold">{{visit.uupk_s}}</span><br>
                odżywka <span class="red bold">{{visit.uupk_o}}</span><br>
                <span class="bold title">stylizacja</span><br>
                podstawa <span class="red bold">{{visit.uupk_sp}}</span><br>
                nadanie formy <span class="red bold">{{visit.uupk_snf}}</span><br>
                utrwalenie <span class="red bold">{{visit.uupk_su}}</span><br>
            </div>
            <div class="pkwd">
                <h2>5. PIELĘGNACJA KOLORU W DOMU</h2>
                szampon <span class="red bold">{{visit.pkwd_sz}}</span><br>
                odżywka <span class="red bold">{{visit.pkwd_o}}</span><br>
                stylizacja <span class="red bold"></span>{{visit.pkwd_st}}<br>
                specjalne wskazówki <span class="red bold">{{visit.pkwd_sw}}</span>
            </div>
        </section>
    </section>
</section>