<div class="top animate">
    <a href="#/klienci"><img src="public/img/home.png" alt="" class="home"/></a>
    <div class="add form" style="display:none;">
        <input ng-model="stylist.imie" placeholder="dodaj nowego fryzjera" />
        <a ng-click="addStylist()" class="link">✔</a>
    </div>
    <span ng-click="showAddForm()"class="add link">+</span>
    <a href="#/stylisci"><img src="public/img/scisors.png" alt="" /></a>
</div>
<table class="clients">
    <tr class="head"><td>#</td><td>Imię</td><td>Wizyt</td><td>✗</td></tr>
    <tr ng-repeat="stylist in stylists">
        <td>{{stylist.id}}</td>
        <td>{{stylist.nazwa}}</td>
        <td>{{stylist.wizyt}}</td>
        <td class="red"><a ng-click="stylistDel(stylist.id)" class="link">✗</a></td>
    </tr>
</table>