html,body,ul,li,ul li,a {margin: 0; padding: 0;font-family: 'Lato', 'Verdana';}

.container {z-index:98;}
/*.mainframe.ng-enter,.mainframe.ng-leave {position:absolute;}

.mainframe.ng-enter {-webkit-animation: 0.8s fadeIn; -moz-animation: 0.8s fadeIn; -o-animation: 0.8s fadeIn; animation: 0.8s fadeIn;z-index:98;}
.mainframe.ng-leave {-webkit-animation: 0.8s fadeOut; -moz-animation: 0.8s fadeOut; -o-animation: 0.8s fadeOut; animation: 0.8s fadeOut;z-index:99;}*/

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.clients { margin:55px 0 0 40px; width: calc(100% - 40px);  }
.clients tr {line-height:30px; -webkit-transition: background 0.3s ease; transition: background 0.3s ease;}
.clients td {padding: 5px; text-align: center; font-size:15px;}
.clients .head {font-weight: bold; border: 1px solid #111; text-align: center; line-height: 30px;}
.clients tr:nth-child(odd) {background: #f3f3f3;}
.clients tr:hover {background:#f7f7f7;}
.clients tr td a {cursor:pointer; text-decoration: none; color: #000;}
.clients .add {line-height: 35px;}
.clients .add input {width:90%; border:0;border-bottom:1px dotted #393939;background:0;height:30px;font-size:14px;padding-left: 10px;}
.clients input {width:90%; border:0; background: 0; border-bottom: 1px dotted #393939; padding: 4px;}

.row.ng-enter, .row.ng-move,.row.ng-leave {-webkit-transition: 0.5s linear all; -moz-transition: 0.5s linear all; -o-transition: 0.5s linear all; transition: 0.5s linear all;}
.row.ng-enter, .row.ng-move {opacity: 0; }
.row.ng-enter-active, .row.ng-move-active {opacity: 1; }
.row.ng-leave {opacity: 1;}
.row.ng-leave-active {opacity: 0;}

.top {position:fixed; background: #fff; z-index: 97; top: 0; right: 0; padding: 10px; border-bottom-left-radius: 20px;}
.top input {height: 30px; margin: 0 15px; float: left; padding-left: 10px; letter-spacing: 1px;}
.top > .add {float: left; line-height:30px; font-size: 30px; font-weight: bold; margin-right:7px;}
.top > .home {float: left; height:30px;}
.top > .scisors {float:left; height: 30px; margin-right: 8px;}


/* SINGLE CLIENT PAGE
        CSS
*/

.client {width: 150px; box-shadow: 3px 0 25px #eee; height: 100vh; padding: 20px 40px 0 80px;margin-top:-20px; text-align: center; float:left; position:fixed; font-size: 13px;}
.client h1 {margin-bottom: 10px;}
.client h3 {font-size: 17px;}
.client .visit {margin-bottom:15px;}
.client .visit > .stylista { margin-top:4px;}
.placeholder {color: #ccc;}

.visits {float:left; margin: 0 0 0 270px;}
.full-visit h1 {font-size: 23px;display: inline; margin-right: 50px;}
.full-visit header {background: #f7f7f7; padding: 20px; border-top: 1px solid #888; clear:both; }
.full-visit .stylist {font-weight: bold;margin-right: 50px;}
.full-visit .price {font-weight: bold;margin-right: 50px;}
.full-visit .delete {font-weight:bold;font-size:20px;}
.visit-info {clelar:both;margin:0 0 0 20px; padding-bottom: 20px; display:block;}
.visit-info .kk, .visit-info .ppk, .visit-info .uk , .visit-info .uupk, .visit-info .pkwd {float:left;padding: 0 10px 0 10px; width: calc((100vw - 370px)/3);}
.full-visit {padding-bottom:15px;display:inline-block;}
.title {font-size:12px;}

.animate.ng-enter, .animate.ng-move, .animate.ng-leave {-webkit-transition: 0.5s linear all; -moz-transition: 0.5s linear all; -o-transition: 0.5s linear all; transition: 0.5s linear all;}
.animate.ng-enter, .animate.ng-move {height:0px; opacity:0;}
.animate.ng-enter-active, .animate.ng-move-active {height:100%; opacity:1;}
.animate.ng-leave {height:100%; opacity:1;}
.animate.ng-leave-active {height:0; opacity:0;}

.new-visit {background: #fff7db;padding-bottom:15px;display:inline-block;}
.new-visit .visit-info input {border:0;border-bottom:1px dotted #393939;background:0; margin-left: 5px;}
.new-visit .date {border:0; border-bottom: 1px dotted #222;padding: 6px; font-size: 23px; font-weight: bold; background: 0; width: 160px; margin-right: 50px;}
.new-visit .date:active { background: 0; border:0; box-shadow: 0;}
.new-visit .stylist {color:#000; border: 0; border-bottom:1px dotted #222; background: none; font-weight: bold; padding: 7px 7px 8px 7px; margin-right: 50px; font-size: 14px;}
.new-visit .price {border:0; border-bottom: 1px dotted #222;font-weight: bold; width: 40px; margin: 0; background:0; padding: 8px; font-size: 16px;}
.new-visit .confirm {font-size: 30px; color: #0F7015; float:right;}
.placeholder {color:#a9a9a9 !important;}
/* WHOLE PAGE CSS */

.message {position: fixed; bottom: 20px; right: 20px;  box-shadow: 3px 0 25px #777; border-radius: 20px; font-size: 16px; color: #fff; text-align: center;}
.message > .icon {color: #fff; font-size: 25px; display: block; margin-bottom: 5px;font-weight:bold;}
.message.success, .message.error, .message.ask, .message.input, .message.info {padding: 5px 10px 10px; border-radius: 20px;}
.message.success, .message.info {background: #0F7015;}
.message.error {background: #A60002;}
.message.ask, .message.input {background: #ffbb1c;}
.message input {width:80%; margin:4px;}
.message .choose a {font-size: 22px;margin:4px;}

.center {text-align: center;}
.red {color: #A60002;}
.bold {font-weight:bold;}
.link {cursor:pointer;}
.small {font-size:10px; letter-spacing: 1px;}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

.sidebar {width:40px; height: 100vh; box-shadow: 3px 0 25px #eee; top: 0; left: 0; text-align:center; position: fixed; padding: 20px 0 0 0;
    -webkit-transition: width 1s; transition: width 1s; background: #fff; z-index:99;}
.sidebar nav {display: none;}
.sidebar:hover {width: 180px;}
.sidebar:hover nav {display: block; animation: show 1s linear 0s;}
.sidebar > header {padding: 5px;}
.sidebar > header > img {max-width: 100%; max-height: 100%;}
.sidebar ul {margin: 15px 0 0 0; display:block;}
.sidebar ul li {list-style: none; display: block;}
.sidebar ul a:link, .sidebar ul a:visited {display: block; width: 100%; line-height: 35px; text-decoration: none; color: #111;
    -webkit-transition: background 0.5s ease; transition: background 0.8s ease;}
.sidebar ul a:hover {background: #eee;}

footer {width:0;transition: width 1s; overflow: hidden; font-size: 10px; letter-spacing: 2px; color: #ccc; margin-top:20px;}
.sidebar:hover footer {width:180px;display:block;  }

.topbar {position: fixed; width: 100%; background: #fff; box-shadow: 3px 0 25px #eee; display: none; top: 0; min-width: 540px; z-index:50;}
.topbar img {max-width:100px; padding:10px;}

@media (max-width: 1100px) {
    .visit-info .kk, .visit-info .ppk, .visit-info .uk , .visit-info .uupk, .visit-info .pkwd {width:100%;}
    .sidebar {display: none;}
    .topbar {display: block;}
    .topbar header {float:left;}
    .topbar a {float:right;margin: 10px 10px 0 10px;}
    .client {width:100%; height: auto; clear: both; padding: 0; background: #fff; margin: 70px 0 0 0; }
    .client header {float:left; margin: 15px;}
    .client .visit {width:auto; float:left;margin:10px;}
    .client .new-visit {clear: both;}
    .top {top: 10px;}
    .clients {margin:100px 0 0 0; width: 100%; }
    .clients td {font-size:18px; padding:7px;}
    .clients tr {line-height:40px;}
    .visits {margin: 190px auto; width: 100%; padding: 0;}
}

