body, html {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #000;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    width: 100%;
    background: none;
}

main h1 {
    margin: 5px 0;
    font-size: 4rem;
    color: #d6d6d6;
}

main h2 {
    margin: 4px;
    font-size: 2.5rem;
    color: #d22323;
}

section {
    width: 100%;
    background: none;
}

main {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.75);
    background-size: cover;
}

section.offer {
    padding: 70px 30px 100px 30px;
    box-sizing: border-box;
    background: #fff;
}

.section-inside {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

@media (min-width: 968px) {
    .section-inside {
        flex-wrap: nowrap;
    }

    section.offer article {
        width: 28%;
    }
}

section.offer article > i {
    font-size: 10rem;
}

section.offer article {
    text-align: center;
    padding: 15px;
    max-width: 100%;
}

main > article {
    padding: 10px;
}

main > article > i {
    font-size: 3rem;
}

section.offer article i:before {
    border: 7px solid;
    border-radius: 116px;
    padding: 26px;
}

main > article > a {
    border: 3px solid #d6d6d6;
    padding: 14px 17px;
    background: none;
    color: #d6d6d6;
    margin: 15px 0;
    display: inline-block;
    width: auto;
    font-size: 1.5rem;
    text-decoration: none;
}

main > article > a:hover {
    border: 3px solid #efefef;
    color: #efefef;
}

@font-face {
    font-family: 'fryzjernia';
    src: url('../assets/fonts/fryzjernia.eot');
    src: url('../assets/fonts/fryzjernia.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/fryzjernia.woff') format('woff'),
    url('../assets/fonts/fryzjernia.ttf') format('truetype'),
    url('../assets/fonts/fryzjernia.svg#fryzjernia') format('svg');
    font-weight: normal;
    font-style: normal;
}

i:before {
    display: inline-block;
    font-family: 'fryzjernia';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

i.calendar:before {
    content: '\0041';
}

i.call:before {
    content: '\0042';
}

i.mustache:before {
    content: '\0043';
}

i.razor:before {
    content: '\0044';
}

i.scissors:before {
    content: '\0045';
}

i.shapes:before {
    content: '\0046';
}

i.smile:before {
    content: '\0047';
}

i.smiling:before {
    content: '\0048';
}

section.contact {
    background: #1b1b1c;
    color: #fff;
    box-sizing: border-box;
    font-size: 15px;
}
section.contact * {
    font-weight: normal;
}


section.contact .section-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1300px;
}

section.contact article h1 {
    color: #d22323;
    font-size: 3rem;
    font-weight: bold;
}

section.contact article {
    padding: 20px;
}

footer {
    background: #222;
    color: #e9e9e9;
    width: 100%;
    padding: 10px 10px;
    font-size: 0.7rem;
    box-sizing: border-box;
    text-align: right;
}

section.contact a, section.contact a:visited, footer a, footer a:visited {
    text-decoration: none;
    color: #e9e9e9;
}
