<div class="message {{msgType}}" ng-class="{{msgType}}" ng-show="msgShow">
        <span class="icon">{{msgIcon}}</span>
        {{msgText}}
        <div ng-switch="msgType">
            <div ng-switch-when="ask" class="choose">
                <a ng-click="confirm()" class="link bold">✔</a>
                <a ng-click="decline()" class="link bold">✘</a>
            </div>
            <div ng-switch-when="input">
                <input type="password" ng-model="password" />
                <div class="choose">
                    <a ng-click="confirm(password)" class="link bold">✔</a>
                    <a ng-click="decline()" class="link bold">✘</a>
                </div>
            </div>
            <div ng-switch-when="info">
                {{msgTitle}}<br/>
                <div class="choose">
                    <a ng-click="decline()" class="link bold">✘</a>
                </div>
            </div>
        </div>
</div>